* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #1f4284;
    --description-color: #727272;
    --checkbox-color: #323232;
    --banner-bg: #f0f4fc;
    --button-bg: #244c98;
    --button-hover-bg: #1f4284;
    --input-bg: #d7e2f6;
}

@font-face {
    font-family: Manrope;
    src: url(fonts/Manrope-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Manrope;
    src: url(fonts/Manrope-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Manrope;
    src: url(fonts/Manrope-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

body {
    font-family: Manrope, sans-serif;
    display: flex;
    justify-content: center;
}

button {
    border: none;
    cursor: pointer;
}

.button {
    width: 100%;
    min-height: 56px;
    padding: 10px;
    padding-left: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    gap: 19px;
    background: var(--button-bg);
    font-family: Manrope, sans-serif;

    &:not(&--outlined, &--text):hover {
        background: var(--button-hover-bg);
    }

    &--outlined {
        background: none;
        color: var(--button-bg);
        border: 1px solid var(--button-bg);
    }

    &--text {
        background: none;
        color: var(--button-bg);
    }

    @media screen and (min-width: 992px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1200px) {
        height: 68px;
        padding: 12px;
        padding-left: 24px;
    }
}

.checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid var(--checkbox-color);
    position: relative;
    border-radius: 3px;

    &__check-mark {
        position: absolute;
        top: -4px;
        left: -4px;
        width: 22px;
        height: 22px;
        display: none;
        fill: blue;
        z-index: 1;
    }

    input[type='checkbox'] {
        display: none;

        &:checked + .checkbox__check-mark {
            display: block;
            border: none;
        }
    }
}

.container {
    padding: 14px 24px;
    max-width: 1920px;
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    background: var(--banner-bg);

    &__content {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding: 24px;
        padding-bottom: 18px;
        align-items: flex-start;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__title {
        font-weight: 500;
        font-size: 17px;
        line-height: 160%;
        color: var(--title-color);
    }

    &__description {
        font-size: 13px;
        line-height: 160%;
        color: var(--description-color);
    }

    &__button {
        border-radius: 60px;

        img {
            height: 100%;
        }
    }

    &__section {
        flex: 1;
    }

    &__img-section {
        height: 100%;
        flex: 2;
    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

.dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    animation: fadeIn 0.25s;

    &--hidden {
        display: none;
    }

    &.animate-out {
        animation-name: fadeOut;

        .dialog__content-wrapper {
            animation-name: slideOut;
        }
    }

    &__backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    &__content-wrapper {
        position: relative;
        height: 100%;
        background: var(--banner-bg);
        max-width: 580px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 24px;
        overflow: auto;
        animation: slideIn 0.25s;
        z-index: 100;
    }

    &__close-btn {
        background: url(images/cross.svg) no-repeat center center;
        width: 52px;
        height: 52px;
        padding: 14px;
        background-color: #fff;
        border-radius: 10px;
        margin-left: auto;
        flex-shrink: 0;
    }
}

.auth-form {
    &__title {
        font-size: 24px;
        margin-bottom: 18px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__input {
        border: none;
        width: 100%;
        height: 73px;
        background: var(--input-bg);
        font-weight: 500;
        font-family: Manrope, sans-serif;
        padding: 24px;
        color: var(--title-color);
        border-radius: 10px;
        font-size: 18px;
        outline: none;

        &::placeholder {
            color: inherit;
        }
    }

    &__checkbox-wrapper {
        display: inline-flex;
        align-items: center;
        gap: 14px;
        font-size: 18px;
        color: var(--checkbox-color);
        margin: 24px 0;
    }

    &__restore-btn {
        padding: 0;
        width: auto;
        min-height: initial;
        font-size: 20px;
    }

    &__main-btns {
        margin-top: 36px;

        button {
            font-size: 18px;
            justify-content: center;
        }
    }
}

@keyframes slideIn {
    from {
        transform: translate(0, -40px);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes slideOut {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, -40px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (min-width: 576px) {
    .container {
        padding: 24px;
    }

    .banner {
        &__content {
            gap: 24px;
        }

        &__info {
            gap: 18px;
        }

        &__title {
            font-size: 20px;
        }

        &__description {
            font-size: 15px;
        }

        &__button {
            width: auto;
        }
    }

    .dialog {
        padding: 20px;

        &__content-wrapper {
            border-radius: 10px;
            height: auto;
            max-height: 100%;
        }
    }
}

@media screen and (min-width: 992px) {
    .banner {
        flex-direction: row;
        align-items: center;
        height: 455px;

        &__content {
            gap: 36px;
        }

        &__title {
            font-size: 26px;
        }

        &__description {
            font-size: 17px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 36px 40px;
    }

    .banner {
        &__content {
            padding-left: 72px;
        }

        &__info {
            max-width: 511px;
        }

        &__section {
            flex: 1 0 50%;
        }

        &__button {
            width: 341px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .banner {
        &__title {
            font-size: 30px;
        }
    }
}
